div {
  margin: 100px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #EEE;
  display: grid;
  justify-content: center;
  align-items: center;
  font: Bold 30px seirf;
  position: relative;
}

div::before {
  content: "";
  position: absolute;
  border: 10px solid;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  top: -10px;
  left: -10px;
  border-color: #e91e63;
  border-left-color: transparent;
  transition: 0.5s;
}

div::after {
  content: "";
  position: absolute;
  border: 10px solid;
  border-radius: 50%;
  width: 221px;
  height: 221px;
  top: -20.5px;
  left: -20.5px;
  border-color: #03a9f4;
  border-right-color: transparent;
  transition: 0.5s;
}

div:hover::before,
div:hover::after {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}